<ion-content>

    <div class="div1">
        <h1>What App your using</h1>
        <p>The app was created to allow users to Check leader boards as well as their Progress on well known Games without any fuss</p>
        <P class="p2">NOTE: because this app is still in Development we are can send you to Links On request to view Such Leaderboards but im future we will be abale to update and provide better Content and Functionality</P>
        <br>
        <p>If your having any doubts or any ideas on ways to improve the app please head over to the contact tab to view ways to get to us</p>
    </div>




</ion-content>
