ion-content {
    
    --background: #ccc url("Images/original.gif") no-repeat center center / cover;


    
    
     .div1{
         background: url("Images/PP.png") no-repeat center / cover;
        border-radius: 10px;
        border-color: rgb(230, 238, 231);
        height:400px max-content ;
        border-style:ridge;
        padding: 10px;
        margin: 10px;

        h1{
            font-size: 25px;
            text-align: center;
        }

        p{
            font-size: 20px;
            color: aqua;
     }

        .p2{
            font-size: 15px;
            color: rgb(223, 219, 22);
        }

}

}