<ion-content>
  
  <div class="div1">
  
    <h1>How to Contact me?</h1>
    <p>If you would like to contact me regarding the app feel free to contact using the following methods</p>
  </div>

  <div class="div2">
  
    <p>Email: </p>
    <button ion-button color="secondary" round><a href="mailto:leonatepenjueli@gmail.com?Subject=Hello%20there" target="_top">leonatepenjueli@gmail.com</a></button>
  </div>

  <div class="div3">

    <p>Phone Number: </p>
    <button ion-button color="secondary" round> <a href="tel:+679 7642410" class="button button-positive">+679 746 2410</a> </button>

    
  </div>

  <div class="div4">

    <p>Facebook Name: </p>
    <button ion-button color="secondary" round> <a href="URL:www.facebook.com/leonate.penjueli.35">@Leonate Penjueli</a></button>
    
    
  </div>

</ion-content>
